body {
  background: rgb(206, 203, 203);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5%;
}

label {
  width: 240px;
  display: inline-block;
  text-align: center;
  margin: 1%;
  padding: 3%;
}

p{
  padding-left: 3%;
}

textarea{
  padding: 10%;
  font-size: 14em;
}

.submit{
  padding: 20%;
  position: absolute;
}



.form-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.header1 {
 font-style: oblique;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding: 10px;
 text-align: center;
 background: #50524c;
 color: white;
 font-size: 30px;
}


input[type=text], select{
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical
}

input[type=tel], select{
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical
}

input[type=email], select{
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical
}


button {
  background-color: #304231;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #1f221f;
}


.column1 {
  float: left;
  width: 80%;
}

.column2 {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#top, #bottom {
    position: fixed;
    right: 0;
    left: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color: rgb(43, 40, 37);
}


